.cursor {
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 50%;
    pointer-events: none;
}

.cursor--inner {
    height: 6px;
    width: 6px;
    top: -3px;
    left: -3px;
    background-color: hsla(var(--co-secondary), 80%);
    z-index: 11000;
}

.cursor--outer {
    height: 40px;
    width: 40px;
    border: 1px solid hsla(var(--co-accent), 80%);
    background-color: hsla(var(--co-accent), 6%);
    z-index: 22000;
}
