/* AboutMe Page */
.aboutme-container {
    margin-inline: 200px;
}

.aboutme-intro {
    padding-block-start: 176px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.aboutme-image-container {
    height: 150px;
    width: 150px;
    overflow: hidden;
    border: 1px solid hsla(var(--co-secondary), 30%);
    border-radius: 50%;
    transition: all 600ms ease-out;
}

.aboutme-image {
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: top;
    filter: grayscale(1);
    transition: all 600ms ease-out;
}

.aboutme-image-container:hover .aboutme-image {
    transform: scale(1.1);
}

.aboutme-image-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px hsla(var(--co-secondary), 20%);
}

.dark-theme .aboutme-image-container:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
}

.aboutme-title {
    margin-block-start: 2.5rem;
    font-size: var(--fs-bigger);
    font-weight: var(--fw-reg);
    color: hsla(var(--co-secondary), 70%);
}

.greeting-english {
    font-weight: var(--fw-bold);
    color: hsla(var(--co-secondary), 100%);
}

.greeting-hindi {
    font-weight: var(--fw-bold);
    color: hsla(var(--co-secondary), 80%);
}

.greeting-emph,
.subtitle-emp,
.speak-emp {
    color: hsla(var(--co-secondary), 100%);
}

.aboutme-subtitle {
    margin-block-start: 2rem;
    font-size: var(--fs-big);
    color: hsla(var(--co-secondary), 70%);
}

.aboutme-speak {
    margin-block-start: 80px;
    max-width: 26rem;
    position: relative;
}

.aboutme-speak::after {
    content: "";
    height: 200%;
    width: 2px;
    position: absolute;
    top: 4px;
    left: -200px;
    background-color: hsla(var(--co-secondary), 60%);
}

.aboutme-connect {
    min-height: 90vh;
    margin-block-start: max(135px, 24vh);
    display: flex;
    align-items: center;
}

.connect-container {
    display: flex;
    gap: 9.5rem;
}

.connect-left {
    display: flex;
    flex-direction: column;
    gap: 12rem;
}

.connect-text {
    max-width: 412px;
}

.connect-links-container {
    height: 85px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.links-title {
    font-size: var(--fs-big);
    font-weight: var(--fw-bold);
    color: hsla(var(--co-secondary), 100%);
}

.links-container {
    height: 44px;
    width: 100%;
    background: hsla(var(--co-secondary), 80%);
    display: flex;
    justify-content: space-evenly;
    padding-block: 12px;
}

.social-icon {
    fill: hsla(var(--co-primary), 100%);
}

.connect-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.explore-button {
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid hsla(var(--co-secondary), 100%);
    aspect-ratio: 1/1;
    border-radius: 50%;
    transition: border 800ms ease-in;
    cursor: pointer;
}

.explore-button:hover {
    border: 1px solid transparent;
}

.explore-button:hover .explore-button-emp {
    color: hsla(var(--co-accent), 100%);
}

.explore-button-text {
    color: hsla(var(--co-secondary), 80%);
    font-size: var(--fs-big);
}

.explore-button-emp {
    font-size: var(--fs-biggest);
    color: hsla(var(--co-secondary), 100%);
    font-weight: var(--fw-bold);
    padding-inline: 50px;
    transition: color 200ms ease-in;
}

.date-hex-container {
    width: 100%;
    font-size: var(--fs-small);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    margin-inline-end: 50px;
}

.date-container {
    width: max-content;
    display: flex;
    gap: 12px;
}

.date-blip {
    height: 10px;
    width: 10px;
    background-color: hsla(var(--co-secondary), 100%);
}

.date-line {
    height: 8px;
    width: 100%;
    max-width: 15.2rem;
    background-color: hsla(var(--co-secondary), 30%);
}

.hex-text {
    width: max-content;
}
